*.o
*.a
*.lo
*.la
*.stamp
*.bak
*.tmp
.tm*
~*

.libs
.deps

Makefile
Makefile.in

/configure.lineno
/aclocal.m4
/autom4te.cache
/config.*
/configure
/depcomp
/stamp*

/compile
/*.tar.gz
/junk
/install-sh
/intltool-*
/libtool
/ltmain.sh
/missing
/mkinstalldirs
/gtk-doc.make
build/mingw-w64/glade.nsi
src/glade-3.rc
