*.o
*.a
*.lo
*.la
*.stamp
*.bak
*.tmp
.tm*
~*
*~
*.gir
*.typelib
*.pc

.libs
.deps

ABOUT-NLS

Makefile
Makefile.in

/configure.lineno
/aclocal.m4
/autom4te.cache
/config.*
/configure
/depcomp
/stamp*

/compile
/*.tar.gz
/junk
/install-sh
/libtool
/ltmain.sh
/missing
/mkinstalldirs
/gtk-doc.make

/gnome-doc-utils.make

/doc/gladeui-overrides.txt
/gladeui/gladeui-enum-types.c
/gladeui/gladeui-enum-types.h
/gladeui/gladeui-resources.c
/gladeui/gladeui-resources.h
/plugins/gtk+/glade-gtk-resources.c
/plugins/gtk+/glade-gtk-resources.h
/tests/add-child
/tests/create-widgets

